:root {
  --sqr_width: 10px;
  --sqr_color: #000000;
  --margin-left: 0px;
  --margin-top: 0px;
  --mac-top: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.square {
  width: var(--sqr_width);
  height: var(--sqr_width);
  background-color: var(--sqr_color);
  display: block;
  position: relative;
  left: var(--margin-left);
  top: var(--margin-top);
  z-index: 10;
}

.macaroni {
  position: absolute;
  top: -15px;
  margin-left: 12px;
  margin-right: 12px;
  z-index: 2;
}