html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --sqr_width: 10px;
  --sqr_color: #000000;
  --margin-left: 0px;
  --margin-top: 0px;
  --mac-top: 0px;
  --explosion: none;
}

html, body, #root { height: 100% }

.left-box {
  flex: 0 0 65%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  position: relative;
}

.right-box {
  flex: 0 0 35%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 50px 0px 0px 50px;
  background-color: hsl(211, 100%, 84%);
  box-sizing: border-box;
}

.App {
  display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-macaroni {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 15px;
  margin-right: 15px;
}

.exploding-div {
  display: var(--explosion);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.scorch {
  height: 40%;
  width: 40%;
  margin-left: 30%;
  margin-top: 30%;
  background-image: url("./reactor.jpg");
  background-size: cover;
  background-position: center;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mac-clicker-image {
  width: 75%;
  aspect-ratio: 1 / 1;
  margin-left: 11%;
  margin-top: 10%;
  background-image: url("./macaroni.webp");
  background-size: cover;
  background-position: center;
  animation: shift-both 5s ease-in-out infinite;
}

.mac-clicker-upgrade {
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  font-size: 30px;
  margin-top: 10px;
}

.mac-clicker-first-upgrade {
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  font-size: 30px;
  margin-top: 75px;
}

.mac-clicker-last-upgrade {
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

@keyframes shift-both {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.square {
  width: var(--sqr_width);
  height: var(--sqr_width);
  background-color: var(--sqr_color);
  display: block;
  position: relative;
  left: var(--margin-left);
  top: var(--margin-top);
  z-index: 10;
}

.macaroni {
  position: absolute;
  top: -15px;
  margin-left: 12px;
  margin-right: 12px;
  z-index: 2;
}